<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{pageTitle}}</title>
	<style>
		/* Add any CSS styling here */
		table {
			display: none;
			width: 100%;
			border-collapse: collapse;
		}

		th,
		td {
			border: 1px solid black;
			padding: 8px;
			text-align: left;
		}

		th {
			background-color: #f2f2f2;
		}
	</style>
</head>

<body>
	<h1>{{pageTitle}}</h1>
	<p>Baseline: {{totalItems}}</p>
	{{{tableSections}}} <!-- Use triple mustache for raw HTML content -->
 <script src="../scripts/collapsible.js"></script>
</body>
</html>
