<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Report</title>
    <style>
        .collapsible {
            cursor: pointer;
            padding: 18px;
            text-align: left;
            width: 100%;
            border: none;
            outline: none;
            transition: 0.4s;
            background-color: #f1f1f1;
        }

        .active, .collapsible:hover {
            background-color: #ddd;
        }

        .content {
            display: none;
            overflow: hidden;
            border: 1px solid #ccc;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Color Contrast Errors</h1>
    <p>Baseline: {{totalCount}}</p>
    {{#groupedData}}
        <div class="collapsible" onclick="toggleTable('{{name}}')">
            <h2>{{name}} - Total: {{items.length}}</h2>
        </div>
        <div class="content" id="{{name}}">
            <table>
                <thead>
                    <tr>
                        <th>Selector</th>
                        <th>Context</th>
                    </tr>
                </thead>
                <tbody>
                    {{#items}}
                        <tr>
                            <td>{{selector}}</td>
                            <td>{{context}}</td>
                        </tr>
                    {{/items}}
                </tbody>
            </table>
        </div>
    {{/groupedData}}

    <script>
        function toggleTable(name) {
            const content = document.getElementById(name);
            if (content.style.display === 'block') {
                content.style.display = 'none';
            } else {
                content.style.display = 'block';
            }
        }
    </script>
</body>
</html>
